@model List<ProdukcjaButow_Model>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (var eB in Model)
{

    <tr>
        


        <td>@eB.Prod_Id</td> 
        <td>@eB.Prod_Marka</td>
        <td>@eB.Prod_Model</td>
        <td>  <div class="border border-success text-success" style="text-align:center;border-radius: 10px; margin: 5px;"> @eB.Prod_Rodzaj </div>  </td>
        <td>  <div class="border border-success text-success" style="text-align:center;border-radius: 10px; margin: 5px;"> @eB.Prod_Kolor </div>  </td>
        <!-- <td> eB.Prod_Image</td>  -->
        <td>@eB.Prod_Cena</td>
        

    </tr>


}


<a asp-controller="ProdukcjaButow" asp-action="Add">Dodaj</a>
